* {
    /* background-color: lightsteelblue; */
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    margin: 0;
}

header {
    color: darkslategrey;
    font-size: 6vmin;
    letter-spacing: 1vmin;
}

h2 {
    font-size: 4vmin;
    color: slategrey;
}

#squares {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* margin-top: 1vmin; */
    margin-left: auto;
    margin-right: auto; 
    width: 375px;
    height: 375px;
    grid-gap: 0px;
}    

#squares > div {
    width: 120px;
    height: 120px;
    
    /* padding-top: 100%; */
    font-size: 12vmin;
    color: slategrey;
    transition: transform 150ms ease-in;
    text-align: center;
    vertical-align: middle;
    align-self: flex-start;
}

.top {
    border-top: 1vmin solid slategrey;
}

.bottom {
    border-bottom: 1vmin solid slategrey;
}

.left {
    border-left: 1vmin solid slategrey;
}

.right {
    border-right: 1vmin solid slategrey;
}

button {
    color: slategrey;
    border: 0.1vmin solid slategrey;
    border-radius: 2vmin;
    font-size: 4vmin;
    margin: 4vmin 0vmin;
}

button:hover {
    color: white;
    background-color: darkslategray;
    transform: scale(1.2);
    transition: transform 150ms ease-in-out;
}

.gameMode {
    display: block;
}

